
body {
  
  color:#fff;

  font-family: Verdana;
  padding: 42px 15%;

  background:#009900;
}

p {

  margin: 10px 10px 10px 5px;
  padding: 10px;
}

div {

  display: block;
  float: left;

}

#mesa {
  width: 70%;
  height: auto;

  padding: 20px;

  background-color: rgba(0, 50, 20, 0.6);
  border-radius: 40px;
}

#mesaDoDealer{

  padding: 10px;
  border-radius: 3px;
  background-color: rgba(0, 10, 70, 0.6);
}

#mesaDoJogador{
  float:right;
  
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(0, 50, 20, 0.6);
}

.carta {

  width: 90px;
  height: 110px;

  /*
  margin: 70px;
  margin: 10px 50px;
  */

  margin: 0px 30px 0px 0px;

  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 3px 3px 0px 3px rgba(0, 0, 0, 0.9);
}

.carta h3 {
  margin: 10px 0px 0px 10px; 
}

.vermelha {
  color: red;
}

.preta {
  color: black;
}




